:root {
  --gray: darkgray;
  --red: red;
  --text-color:#616161 ;
  --footer-height:100px;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  width: 100%;
  height: 30vh;
  position: relative;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: -500px;
}

header .gradiant {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

article {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:  calc(var(--footer-height) * -0.3);
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login{
  --login-width: 30vw;
  width: var(--login-width);
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  filter: drop-shadow(4px 4px 4px #ccc)
}

.login img {
  max-width: 200px;
  max-height: 100px;
  padding: 0 2em;
  background-color: white;
}


.login-header {
  width: 100%;
  height: 100%;
  margin: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.login form {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  gap:0.5em;
}

.login form > * {
  margin-left:2rem;
  margin-right:2rem;
}

.login form input{
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid --text-color;
}

.login .pass {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.login .pass input {
  width: 100%;
  margin-bottom: 0;
}

.login .icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 25%;
  cursor: pointer;
}

.login form .button{
  border: none !important;
}

.login-languages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.login-languages li{
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
}

.login-languages li:hover {
  box-shadow: inset 2px 2px 5px #ccc;
}

.error {
  width: 100%;
}

.error-tekst {
  width: 100%;
  margin: 1em 0;
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight:  bold;
}

footer {
  width: 100%;
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 100%;
}

