@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  article {
    position: relative;
  }

  .login {
    width: 100%;
    min-width: none;
    filter: none;
  }

  footer {
    position: relative;
  }
}