@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  article {
    position: relative;
    width: 100%;
  }

  .login {
    width: 100%;
    min-width: 100%;
    filter: none;
  }

  footer {
    position: relative;
  }
}
@media only screen and (max-height: 600px) {
  body {
    overflow: auto;
  } 
  header {
    display: none;
  }
  article {
    height: auto;
  }
  footer{
    position: relative;
    margin-top:1rem;
  }
}